<h1>Apartado de añadir</h1>

<div>
  <form action="/save" method="POST">
    <label for="">nombre</label>
    <input type="text" name="nombre" id="nombre"/>
    </label><label for="">apellido</label>
    <input type="text" name="apellido" id="apellido" />
    </label><label for="">cedula</label>
    <input type="text" name="cedula" id="cedula"/>
    <select name="rol" id="rol">
      <option value="admin">admin</option>
      <option value="cliente">cliente</option>
    </select>
    <button type="submit">enviar</button>
  </form> 
</div>

<a href="/resultados">resultados</a>